@model VCMS.MVC4.Data.Cart

@{
    ViewBag.Title = "Giỏ hàng";
}

@using (Html.BeginForm("Update", "ShoppingCart"))
{
    <table class="cart">
        <thead>
            <tr>
                <th class="check"></th>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td></td>
                    <td>@item.Article.ArticleDetail[SiteConfig.LanguageId].ArticleName</td>
                    <td>@Html.TextBox("qty_"+item.Id.ToString(), item.Quantity)</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.Amount</td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Update" />    @Html.ActionLink("CheckOut", "CheckOut")
}