@using VCMS.MVC4.Web
@model VCMS.MVC4.Data.Discount
@{
    DataContext db = new DataContext();
    ViewBag.Title = "Edit";
    var currencies = db.Currencies.ToList();
    var articles = (ViewBag.Articles as List<Article>);
    var categories = (ViewBag.Categories as List<Category>);
    ViewBag.Articles = Model.Articles;
    ViewBag.Categories = Model.Categories;

    ViewBag.Breadcrumb = new BreadcrumbModel()
    {
        Items = new List<BreadcrumbItem>()
        {
            new BreadcrumbItem(){Url = Url.Action("Index","Home"), Text="Home", IsFirst = true},
            new BreadcrumbItem(){Url = null, Text = "Sửa giảm giá", IsLast = true},
        }
    };
}
@Styles.Render("~/Content/themes/base/css")
<div class="form">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="clear-fix">
            <div class="left width-70">
                <div id="tabs">
                    <fieldset>
                        <legend>Thông tin chung</legend>
                        @Html.HiddenFor(model => model.Id)
                        <div class="editor-label">
                            <label>Tên</label>
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Name)
                        </div>
                        <div class="editor-label">
                            <label>Sử dụng tỷ lệ phần trăm</label>
                            <div class="editor-field">
                                @Html.CheckBox("chk-usepercen", Model.UsePercent, new { @class = "use-percentage", onchange = "usePercentage()" })
                            </div>
                        </div>
                        <div class="dis-percentage" style="display:@(Model.UsePercent?"block":"none")">
                            <div class="editor-label">
                                <label>Phần trăm giảm(%)</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBox("DiscountPercent", string.Format("{0:#,###}", Model.DiscountPercent), new { @class = "price w-300" })
                                @Html.ValidationMessageFor(model => model.DiscountPercent)
                            </div>
                        </div>
                        <div class="dis-amount" style="display:@(Model.UsePercent?"none":"block")">
                            <div class="editor-label">
                                <label>Số tiền giảm</label>
                            </div>
                            <div class="editor-field  pri-and-curr w-300">
                                @Html.TextBox("DiscountAmount", string.Format("{" + Model.Currency.Formatting + "}", Model.DiscountAmount), new { @class = "price w-300" })
                                @Html.DropDownList("currencyId", new SelectList(currencies, "Id", "CurrencySymbol"), new { @class = "currency" })
                                @Html.ValidationMessageFor(model => model.DiscountAmount)
                            </div>
                        </div>
                        <div class="editor-label">
                            <label>Ngày bắt đầu</label>
                        </div>
                        <div class="editor-field date-time">
                            @Html.TextBoxFor(model => model.DateStart, new { @class = "datepicker" })
                        </div>
                        <div class="editor-label">
                            <label>Ngày kết thúc</label>
                        </div>
                        <div class="editor-field date-time">
                            @Html.TextBoxFor(model => model.DateEnd, new { @class = "datepicker" })
                            @Html.ValidationMessageFor(model => model.DateEnd)
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="right width-29">
                <fieldset>
                    <legend>Chọn nhóm giảm giá</legend>
                    @if (categories.Count > 0)
                    {
                        <div>
                            @Html.Partial("~/Areas/Admin/Views/Category/_SearchAutocomplete.cshtml", categories)
                        </div>
                    }
                </fieldset>
                <fieldset>
                    <legend>Chọn sản phẩm giảm giá</legend>
                    @if (articles.Count > 0)
                    {
                        <div>
                            @Html.Partial("~/Areas/Admin/Views/Article/_SearchAutocomplete.cshtml", articles)
                        </div>
                    }
                </fieldset>
            </div>
        </div>
        <div class="toolbar">
            <span class="button">
                <button type="submit" class="btn save"><i class="fa fa-save"></i> <span>Lưu</span></button>
            </span>
            <span class="btn back">
                <a href="@Url.Action("Index", null, null)">
                    <i class="fa fa-mail-reply"></i> <span>Quay về danh sách</span>
                </a>
            </span>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
        
        <script type="text/javascript">
            $(document).ready(function () {
                $(".datepicker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'mm/dd/yy'
                });
                
            });

            function usePercentage() {
                if ($('.use-percentage').is(":checked")) {
                    $(".dis-amount").hide();
                    $(".dis-percentage").show();
                }
                else {
                    $(".dis-amount").show();
                    $(".dis-percentage").hide();
                }
            }

            //$(function () { $("#tabs").tabs(); });
            $(".button .save").click(function () {
                var start_date = $("#DateStart").val();
                var end_date = $("#DateEnd").val();
                if (new Date(start_date) > new Date(end_date)) {
                    alert("Ngày kết thúc phải lớn hơn ngày bắt đầu");
                    return false;
                }
            });

            //$(function () {
            //    $(".price").keyup(function (e) {
            //        if (e.which >= 37 && e.which <= 40) {
            //            e.preventDefault()
            //        }
            //        var t = $(this);
            //        var n = t.val().replace(/,/gi, "").split("").reverse().join("");
            //        var r = RemoveRougeChar(n.replace(/(.{3})/g, "$1,").split("").reverse().join(""));
            //        t.val(r);
            //    })
            //});

            //function RemoveRougeChar(e) {
            //    if (e.substring(0, 1) == ",") {
            //        return e.substring(1, e.length)
            //    } return e
            //}
        </script>
    }
</div>
