@model ArticleResult
@{
    if (Model.List.Count > 0)
    {
        var type = ViewBag.Type != null ? ViewBag.Type as ArticleType : ArticleType.GetById(Model.List.FirstOrDefault().ArticleType.Id, SiteConfig.LanguageId);
        <div class="box-article-list">
            <h1 class="title">@(ViewBag.Title != null ? ViewBag.Title : type.Name)</h1>
            <div class="row">
                @foreach (var item in Model.List)
                {
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <article class="item">
                            <div class="row">
                                <div class="imgnew col-lg-4 col-md-4 col-xs-4">
                                    @if (type.ShowImageInList)
                                    {
                                        <figure>
                                            <a class="banner-cubic-7" href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName">
                                                @Html.Image(item.ImageUrl.ToLower(), new ImageOptions { Width = 258, Height = 170, Mode = ImageMode.crop, Lazy = false }, new { alt = item.ArticleName })
                                            </a>
                                        </figure>
                                    }
                                </div>
                                <div class="infonew col-lg-8 col-md-8 col-xs-8">
                                    <div class="meta">
                                        <h3><a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName">@item.ArticleName</a></h3>
                                        @*@if (type.ShowDateTime)
                                        {
                                            <span class="date">
                                                <i class="fa fa-calendar"></i>
                                                @item.Day/@item.Daymore
                                            </span>
                                        }*@
                                        @if (type.ShowDescription)
                                        {
                                            <div class="description hidden-xs">@Html.Raw(VNS.Web.Helpers.HTMLHelper.ReadBlock(item.ShortDescription, 20))</div>
                                        }
                                        @if (type.ShowActionLink)
                                        {
                                            <div class="action">
                                                <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title=""><i class="fa fa-video-camera"></i> @Html.Locale("view_detail")</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                }
            </div>
            @Html.Pager(new PagerOptions { VisibleItemCount = 5, ItemCount = Model.TotalItemCount, PageSize = Model.PageSize }, null)
        </div>

    }
    else
    {
        <strong>@Html.Locale("article_null")</strong>
    }
}
