@model VCMS.MVC4.Web.Areas.Admin.Models.LocalPasswordModel


@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Thay đổi mật khẩu</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <div class="toolbar">
            <button type="submit" class="btn btn-primary"><i class="fa fa-lock"></i> <span>Change password</span></button>
        </div>
    </fieldset>
}
