@model VCMS.MVC4.Web.Areas.Admin.Models.LoginModel

@{
    Layout = "../Shared/_GuestLayout.cshtml";
    ViewBag.Title = "Log in";
}

<div class="form-bg form-login">

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <h2>Login</h2>
        <p>
            <input type="text" placeholder="Username" name="UserName" class="username">
        </p>
        <p>
            <input type="password" placeholder="Password" name="Password" class="password">
        </p>
        <label class="checkbox login">
            @Html.CheckBoxFor(m => m.RememberMe)<i></i>
            Remember me on this computer
        </label>
       
        <button type="submit" value="Log in" class="button" />
    }

</div>
<p class="forgot">@Html.ActionLink("Quên mật khẩu?", "ForgotPassword") </p>
<div class="notice">@Html.ValidationSummary(true)</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
