@model ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}
<div class="form-bg form-login">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "sent" }))
    {
        @Html.AntiForgeryToken()
                
   			
        <h2>Reset Password</h2>
        
        <p>
            @Html.PasswordFor(model => model.NewPassword, new { placeholder = "Mật khẩu mới", @class="password" })
        </p>
        <p>
            @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Xác nhận mật khẩu mới", @class="password" })
        </p>
        
        <button type="submit" value="Reset" class="button" />
			
		
    }


</div>
<p class="notice">@Html.ValidationSummary()</p>
<script type="text/javascript">
    function sent(data, status, xhr) {
        $(".notice").html(data.Message);
        if (data.Status == 0) {
            $(".notice").append("<br/> redirecting to login page");
            window.location.href = '@Url.Action("Login","Account")';
        }
        else {
            for (i=0;i<data.Errors.length;i++)
            {
                var err = data.Errors[i];
                if (err.length>0)
                    $(".notice").append("<br/>" + err[0].ErrorMessage);
            }
        }
    }
</script>
