<div class="add-link-detail pull-left">
    <h2 class="headinged">
        @Html.Image(SiteConfig.Image("td.png"), new ImageOptions { Width = 27, Height = 21, Lazy = false }, new { alt = "mail" })
        THEO DÕI CHÚNG TÔI
    </h2>
    <a href="@Html.Raw(Html.Setting("account_fb"))" class="fb fa fa-facebook" target="_blank" rel="nofollow" title="Facebook"></a>
    <a href="@Html.Raw(Html.Setting("account_yt"))" class="yt fa fa-youtube" target="_blank" rel="nofollow" title="Youtube"></a>
    <a href="@Html.Raw(Html.Setting("account_ig"))" class="tw fa fa-instagram" target="_blank" rel="nofollow" title="Insta"></a>
    <a href="@Html.Raw(Html.Setting("account_gg"))" class="gg fa fa-google-plus" target="_blank" rel="nofollow" title="Google"></a>
</div>

  