<section class="bottom">
    <div class="container">
        @Html.Partial("_BFAddLink")
        @Html.Partial("_FSNewsletter")
        @*<div class="bg-b">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-6 col-sm-12 animated" data-animation="fadeInUp">
                    @Html.AjaxPartial("_HelpFull")
                    @Html.Partial("_FacebookSidebar")
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 animated fanpage" data-animation="fadeInUp">
                    <div class="home-brand">
                        <a href="/he-thong-ban-hang.html" class="banner-cubic-6">
                            <img alt="" src="/Templates/@SiteConfig.SiteCode/content/images/htbh.jpg?width=775&amp;height=293&amp;mode=crop">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 animated fanpage" data-animation="fadeInLeft">
                    <div class="g-map">
                        @Html.Partial("_BFMap")
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>
