

<div class="col-xs-12">
    <h2 class="title"><i class="fa fa-comments-o" aria-hidden="true"></i> Bình luận</h2>

    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "comment-create-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="form-group">
                <input name="articleId" class="form-control hidden" value="@ViewBag.ArticleId" />
                <input name="articleTypeId" class="form-control hidden" value="@ViewBag.ArticleTypeId" />
                <input name="parentId" class="form-control hidden" />
                <input name="userId" class="form-control hidden" value="@ViewBag.UserID" />
                <div class="col-xs-12">
                    <textarea name="message" class="message form-control" rows="5" placeholder="@Html.Locale("comment_content")"></textarea>
                </div>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="@(Request.IsAuthenticated ? "hidden" : "")">
                            <div class="col-md-2 col-xs-12">
                                <label class="radio-inline ">
                                    <input class="" type="radio" name="gender" value="true" checked="checked">
                                    <span>Anh</span>
                                </label>
                                <label class="radio-inline">
                                    <input class="" type="radio" name="gender" value="false">
                                    <span>Chị</span>
                                </label>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <input name="name" class="name form-control" placeholder="@Html.Locale("contact_name")" value="@ViewBag.UserDisplayName" />
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <input name="email" class="email form-control" type="email" placeholder="Email" value="@ViewBag.UserMail" />
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <button type="button" class="comment-create sumit btn btn-default">Gửi</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="result-valid"></div>
                </div>
            </div>
        </div>
    }
   
</div>

