@using VCMS.MVC4.Web
<!DOCTYPE html>
<html lang="vi" itemscope itemtype="http://schema.org/WebPage" class="desktop">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @SiteConfig.SiteInfo.WebsiteDetail[SiteConfig.LanguageId].Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />

    <meta itemprop="image" content="@ViewBag.Image">
    <meta itemprop="description" content="@ViewBag.Description" />
    <meta itemprop="keywords" content="@ViewBag.Keywords" />

    <meta property="og:site_name" content="@SiteConfig.SiteInfo.Title">
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:url" content="//@Request.Url.Host@HttpContext.Current.Request.Url.PathAndQuery" />
    <meta property="og:image" content="@ViewBag.Image" />

    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta name="twitter:domain" content="//@Request.Url.Host" />
    <meta name="twitter:image:src" content="@ViewBag.Image">
    <meta name="twitter:description" content="@ViewBag.Description" />

    @if (!string.IsNullOrWhiteSpace(SiteConfig.SiteInfo.FaceBookApp))
    {
        <meta property="fb:app_id" content="@SiteConfig.SiteInfo.FaceBookApp" />
    }
    @if (!string.IsNullOrWhiteSpace(SiteConfig.SiteInfo.FaceBookAdmin))
    {
        <meta property="fb:admins" content="@SiteConfig.SiteInfo.FaceBookAdmin" />
    }
    @Html.Canonical(SiteConfig.SiteInfo.DefaultDomain)
    <script>
        //<![CDATA[
        var message = encodeURIComponent('@ViewBag.Title');
        var sharing_url = "@HttpContext.Current.Request.Url.AbsoluteUri";
        //]]>
    </script>
    @Styles.Render(string.Format("~/templates/{0}/Content/{1}", SiteConfig.SiteInfo.Code, SiteConfig.SiteInfo.Skin))
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Pager")
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    @*<link rel="stylesheet" href="~/Content/Plugin/HoverEffectIdeas/set2.css" />*@
    @Html.Setting("goana")
</head>

<body class="dual-sidebar @SiteConfig.SiteInfo.Skin language-@SiteConfig.LanguageId">
    @Html.Setting("body_script")
    @Html.AjaxPartial("_HeaderFix")
    @Html.AjaxPartial("_HeaderTop")
    @Html.Partial("_MenuTop")
    <div id="page">
        <div class="page-detail">
            <div class="container">@Html.Breadcrumb()</div>
            <section id="columns" class="columns-home">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 visible-lg visible-md">
                            @*@Html.WidgetGroup("Sidebar")*@
                            @Html.Partial("CategoryHome")
                            @*@Html.Widget("dmsp")*@
                            @*@Html.Widget("BRAND")*@
                            @*@Html.Widget("CKCT")*@
                        </div>
                        <div class="col-lg-9 col-md-9">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
            @Html.Partial("_Footer2")
            @Html.Partial("_Copyright")
        </div>
    </div>
    <section id="sys-notification" style="opacity: 0;"></section>
    @Html.Partial("_Call")
    @Html.Partial("_ScrollTop")
    @Html.Partial("_LRSocial")

    @Scripts.Render("~/bundles/Slider")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vcms")
    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/Fixie")
          <![endif]-->
    @RenderSection("scripts", required: false)

</body>
</html>
