<div class="col-lg-3 col-md-3 visible-lg visible-md">
    @Html.Widget("MenuCate")
    @Html.Widget("HotProduct")
    @Html.Partial("_LROnline")
    @Html.Widget("LRNews")
    @*@Html.Partial("_LRContactAjax")*@
    @*@Html.Action("MenuClick", "Category", new { typeId = 2 })*@
</div>
    @* @Html.Partial("_LRSearch")   
    @Html.Partial("_LRNewProduct")
    @Html.Partial("_LRWeather")
    @Html.Partial("_LRExchange")
    @Html.Partial("_LRSocial")*@
