<div class="box-sidebar-3 box-newsletter hidden-sm hidden-xs">
    <h2 class="heading">@Html.Locale("newsletter")</h2>
    <div class="content">
        <label>@Html.Locale("str_regis_mail")</label>
        <div>
            <input id="txt_FullName" class="full-name" type="text" name="fullname" placeholder="@Html.Locale("full_name")" />
            <input id="txt_Mail" class="email" type="text" name="email" placeholder="@Html.Locale("mail_address")" />
            <div class="d-submit">
                <input class="submit" type="submit" id="btn_Reg" value="@Html.Locale("register")" />
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        var id_key = $('#txt_Mail');
        var name_key = $('#txt_FullName');
        $("#btn_Reg").click(function () {

            if (id_key.val() == "") {
                alert('Vui lòng điền địa chỉ email của bạn');
                id_key.focus();
                return false;
            }
            if (name_key.val() == "") {
                alert('Vui lòng điền tên của bạn');
                name_key.focus();
                return false;
            }

            $.ajax({
                url: "/Home/RegisterMail?",
                type: "POST",
                data: "mail=" + id_key.val(),
                dataType: "text",
                cache: "false",
                success: function (result) {
                    if (result == "Invalid") {
                        alert('Email không đúng định dạng');
                        id_key.val("");
                        id_key.focus();
                        return false;
                    }
                    else if (result == "Exists") {
                        alert("Email đã tồn tại trên hệ thống.Vui lòng nhập Email khác.");
                        id_key.val("");
                        id_key.focus();
                        return false;
                    }
                    else {
                        id_key.val("");
                        alert('Đăng ký email thành công');
                        return false;
                    }
                }
                //,
                //                    error: function (data, textStatus, errorThrown) {
                //                         alert("error\n" + data + ", " + textStatus + ", " + errorThrown);
                //                    }
            });


        });
    });

</script>