    
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12">
                @Html.Partial("_FNewsletter")
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                @Html.Partial("_AddLinkDetail")
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="line"></div>
        <div class="row">
            @Html.Partial("_FAddress")
            @*<div class="col-md-4 col-xs-12 col-sm-12">


            </div>
            <div class="col-md-2 col-xs-12 col-sm-12">
                @Html.Partial("_FCategory")
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12">
                @Html.Partial("_FConsulting")
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12">
                @Html.Partial("_FTimeWorking")
            </div>*@
        </div>
    </div>
</footer>
