<!DOCTYPE html>
<html lang="en" class="html">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/admincss")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="page">
        <header class="header">
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("vcms administrator", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        @*<ul id="menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>*@
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">


            <section class="content-wrapper main-content clear-fix">

                <section>

                    @RenderBody()
                </section>
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - vcms administrator</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $(".form-bg form input").each(function () { $(this).data("pl", $(this).attr("placeholder")) });
            $(".form-bg form input").focus(function () {

                $(this).attr("placeholder", "");
            }).blur(function () {
                $(this).attr("placeholder", $(this).data("pl"));
            })
        })
    </script>
</body>
</html>
