@model Widget
@{

    //var article = Article.GetByType(Model.ArticleTypeId.Value, SiteConfig.SiteId, SiteConfig.LanguageId, Model.Attribute, 1, Model.Number, Model.SortOrder, Model.SortDirection, Model.Includes);
    var type = VCMS.MVC4.Web.PageContext.GetArticleType(Model.ArticleTypeId.Value, SiteConfig.LanguageId);
    var cates = Category.GetByType(type.Id, SiteConfig.LanguageId, 0, CategoryFlags.NEW, 0);
    var articles = Article.GetByCategories(cates.Select(c => c.Id).ToArray(), SiteConfig.LanguageId, Model.Attribute, Model.Number, Model.SortOrder, Model.SortDirection, Model.Includes);
    var i = 1;

    //if (article.List.Count > 0)
    //{
    bool most = Model.Attribute == ArticleFlags.NEW ? true : false;
    <div class="box-products-home @(most?"most":"") animated" data-animation="fadeInUp">
        <div class="container">
            @foreach (var citem in cates)
            {
                var article = articles.Where(a => a.CurrentCategory.Id == citem.Id);
                <div class="box-title">
                    @*<h2 class="heading main-heading"><span>@type.Name</span>@Model.Title </h2>*@
                    <h2 class="heading main-heading"><span>@citem.CategoryName</span></h2>
                </div>
                <div class="content-background">
                    <div class="row">
                        <div class="owl-carousel" data-plugin-options='{"items": 4, "singleItem": false, "autoPlay": true, "navigation": true, "pagination": false,"slideSpeed":400,"addClassActive":true,"itemsDesktop": [1199, 3],"itemsDesktopSmall": [991, 3],"itemsTablet": [768, 2],"itemsMobile": [530, 1]}' data-snap-ignore="true">
                            @foreach (var item in article)
                            {
                                <center>
                                    <div class="box-block box-product animated" data-animation="fadeInUp">
                                        @if (item.IsNew)
                                        {
                                            <span class="new-product"></span>
                                        }
                                        @if (!Model.HiddenImage)
                                        {
                                            <figure>
                                                <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName">
                                                    @Html.Image(item.ImageUrl, new ImageOptions { Width = 220, Height = 220, Watermark = SiteConfig.Watermark, Mode = ImageMode.pad, Lazy = false }, new { alt = item.ArticleName, @class = (Model.LazyOwl ? "owl" : "") })
                                                </a>

                                                @if (Model.ShowDescription)
                                                {
                                                    <a class="overlay" href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName">
                                                        <div class="sdesc">
                                                            @Html.Raw(VNS.Web.Helpers.HTMLHelper.ReadBlock(item.ShortDescription, Model.NumberText))
                                                            @*@Html.Raw(item.ShortDescription)*@
                                                        </div>
                                                    </a>
                                                }
                                            </figure>
                                        }

                                        <div class="meta">
                                            <h3>
                                                <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName">@item.ArticleName</a>
                                            </h3>
                                            <div class="price-all">
                                                @if (item.Price > 0)
                                                {
                                                    if (item.DiscountPrice > 0)
                                                    {
                                                        <span class="price">@Html.DiscountPrice(item.ItemPrice)</span>
                                                        <span class="price-old">@Html.Price(item.ItemPrice)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="price">@Html.Price(item.ItemPrice)</span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="price">Liên hệ</span>
                                                }

                                            </div>

                                            @if (Model.ShowViewMore)
                                            {
                                                <div class="view-detail">
                                                    <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName"></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="action pull-right">
                                            @*@if (item.Price > 0)
                                                {
                                                    <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = item.Id })" class="cart" rel="nofollow">
                                                        @Html.Locale("cart_checkout")
                                                    </a>
                                                }
                                                else
                                                {*@
                                            <a href="@Url.Action("Contact", "Home", new { id=item.Id})" class="cart" rel="nofollow">@Html.Locale("contact")</a>
                                            @*}*@
                                        </div>
                                        @*@if (Model.ShowButton)
                                            {
                                                <div class="action">
                                                    <a href="@Url.Action("Contact", "Home", new { id=item.Id})" class="cart" rel="nofollow">@Html.Locale("sdt")</a>

                                                </div>
                                            }*@
                                    </div>
                                </center>
                                            i++;
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    @*}*@
}