@model Widget
@{
    var cate = Category.GetTree(Category.GetByType((int)Model.ArticleTypeId, SiteConfig.LanguageId)).Where(a => a.Level == 0).ToList();
    var temp = Article.GetByCategories(cate.Select(c => c.Id).ToArray(), SiteConfig.LanguageId, Model.Attribute, Model.Number, ArticleSortOrder.ARTICLE_NAME, VCMS.MVC4.Data.SortDirection.ASCENDING, ArticleIncludeFlags.ARTICLE_TYPE | ArticleIncludeFlags.DISCOUNTS | ArticleIncludeFlags.PRICES | ArticleIncludeFlags.PROPERTIES).ToList();
    var i = 1;
    var j = 1;
    var type = ArticleType.GetById((int)Model.ArticleTypeId, SiteConfig.LanguageId);
    <div class="box-product-tab">
        @foreach (var sitem in cate)
        {
            if (temp.Count > 0)
            {
                var lst = temp.Where(a => a.CurrentCategory.Id == sitem.Id).ToList();
                <div class="citem">
                    <div class="c-header">
                        <h2>
                            <a href="@Url.Action("Detail", "Category", new {id=sitem.Id,code=sitem.ArticleType.UrlFriendly,title=Unichar.UnicodeStrings.UrlString(sitem.CategoryName) })">
                                @sitem.CategoryName
                            </a>
                        </h2>
                        <div class="sub-cate-mb">
                            <span class="co cat-@i"></span>
                            <div class="list-cat listcat-@i">
                                @foreach (var sub in sitem.Children.Where(sub => !sub.IsNew))
                                {
                                    <a href="@Url.Action("Detail", "Category", new { id = sub.Id, code = sub.ArticleType.UrlFriendly, title = Unichar.UnicodeStrings.UrlString(sub.CategoryName) })" title="@sub.CategoryName">
                                        @Html.Raw(VNS.Web.Helpers.HTMLHelper.ReadBlock(sub.CategoryName, 5))
                                    </a>
                                }
                            </div>

                        </div>
                        <script>
                            $(".cat-@i").click(function () {
                                if ($(this).hasClass("co")) {
                                    $(this).removeClass("co");
                                    $(this).addClass("xich");
                                }
                                else {
                                    $(this).removeClass("xich");
                                    $(this).addClass("co");
                                }
                                $(".listcat-@i").slideToggle();

                            });
                        </script>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="left-dmsp">
                            <div class="owl-carousel is-active" data-plugin-options='{"items": 2, "singleItem": false, "autoPlay": true, "navigation": true, "pagination": false,"slideSpeed":1200,"addClassActive":true,"itemsDesktop": [1199, 2],"itemsDesktopSmall": [991, 2],"itemsTablet": [768, 2],"itemsMobile": [479, 2]}'>

                                @foreach (var item in lst)
                                {
                                    var code = item["CODE"];

                                    <div class="items">
                                        <figure class="effect-hera">
                                            <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.ArticleTypeDetail[SiteConfig.LanguageId].UrlFriendly, title = Unichar.UnicodeStrings.UrlString(item.ArticleDetail[SiteConfig.LanguageId].UrlFriendly) })" title="@item.ArticleName">
                                                @Html.Image(item.ImageUrl, new ImageOptions { Width = 160, Height = 160, Watermark = SiteConfig.Watermark, Lazy = false, Mode = ImageMode.pad }, new { alt = item.ArticleDetail[SiteConfig.LanguageId].ArticleName, @class = (Model.LazyOwl ? "owl" : "") })
                                            </a>
                                            <figcaption>
                                                <p>

                                                    <a class="quickview" href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="Xem chi tiết">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>

                                                    <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = item.Id })" class="addcart cart @(item.Price > 0 ? "addToCart" : "")" title="Cho vào giỏ hàng" rel="nofollow">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                </p>
                                            </figcaption>
                                        </figure>
                                        <div class="meta">
                                            <h3>
                                                <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.ArticleTypeDetail[SiteConfig.LanguageId].UrlFriendly, title = Unichar.UnicodeStrings.UrlString(item.ArticleDetail[SiteConfig.LanguageId].UrlFriendly) })" title="@item.ArticleDetail[SiteConfig.LanguageId].ArticleName">@item.ArticleDetail[SiteConfig.LanguageId].ArticleName</a>
                                            </h3>
                                            <p>Mã số: <span>@code</span></p>
                                            <div class='price-all'>
                                                @if (item.DiscountPrice > 0)
                                                {
                                                    <span class='price-old'>@Html.Price(item.ItemPrice)</span>
                                                    <span class='price'>@Html.DiscountPrice(item.ItemPrice)</span>
                                                }
                                                else
                                                {
                                                    <span class='price'>@Html.Price(item.ItemPrice)</span>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            i++;
        }
    </div>


}
    <div class="adv_mb">
        @Html.Widget("Adv")
    </div>