@using VCMS.MVC4.Web
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @SiteConfig.SiteInfo.WebsiteDetail[SiteConfig.LanguageId].Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @RenderSection("styles", required: false)
    @*@Scripts.Render("~/bundles/jquery")*@
</head>
<body>

    <div id="content">
        <header>
            <div class="content-wrapper clear-fix">
                <section class="menu-top clear-fix">
                    <div class="menu">
                        @Html.Partial("_MenuTop")
                    </div>
                    <div class="flash-banner">
                        @Html.Partial("_FlashBanner")
                    </div>
                    <div class="search-box">
                        @Html.Partial("_SearchBox")
                        @Html.Partial("PVBoxLanguage")

                    </div>

                </section>
                <section class="banner">
                    @Html.Partial("PVBannerTop")
                </section>

            </div>
        </header>
        <div id="body">

            <div class="content-wrapper clear-fix">
                <section class="breadcrumbs">
                    @Html.Breadcrumb()
                </section>
                <section class="body-content">
                    <section id="left">
                        @Html.Partial("_LeftColumn")
                    </section>
                    <section id="right">@RenderBody()</section>

                </section>
            </div>
        </div>
        <footer>
            <div class="content-wrapper ">
                @Html.Partial("_Footer")
            </div>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/scrollable")
    @Scripts.Render("~/bundles/circle")
    @Scripts.Render("http://stats.viennam.com/site/log")
    <script>
        $(function () {
            $("form input").each(function () { $(this).data("pl", $(this).attr("placeholder")) });
            $("form input").focus(function () {

                $(this).attr("placeholder", "");
            }).blur(function () {
                $(this).attr("placeholder", $(this).data("pl"));
            })
        })
    </script>
</body>
</html>
