@model VCMS.MVC4.Data.Cart
@using System.Data.Entity;
@{
    var db = new DataContext();
    var type = ViewBag.Type as ArticleType;
    var categoryed = ViewBag.Category as Category;
    ViewBag.Title = Html.Locale("cart").ToHtmlString();
    ViewBag.Breadcrumb = new BreadcrumbModel { Items = new List<BreadcrumbItem> { new BreadcrumbItem { Text = Html.Locale("cart").ToHtmlString(), Url = null, IsLast = true } } };
    decimal total = 0;
    //decimal totaltam = 0;
    //decimal totalvat = 0;
    int qty = 0;
    Layout = "_Layout.cshtml";
    var brandType = db.ArticleTypes.Include(a => a.ArticleTypeDetail).FirstOrDefault(a => a.Code.Equals("BRAND", StringComparison.OrdinalIgnoreCase));


    <div class="article article-list product-list">
        <h1 class="title">@Html.Locale("cart")</h1>
        @*@if (ViewBag.Error == 1)
            {
                <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> @Html.Locale("cart_error_warning") <button type="button" class="close" data-dismiss="alert">&times;</button></div>
            }*@
        @if (Model.Items.Count > 0)
        {
            using (Html.BeginForm("Update", "ShoppingCart"))
            {
                <div class="cart-info hasImage">
                    <table class="pav-shop-cart">
                        <thead>
                            <tr>
                                <td class="image text-center">@Html.Locale("cart_product_image")</td>
                                <td class="name">@Html.Locale("cart_product_name")</td>
                                <td class="quantity text-center">@Html.Locale("cart_qty")</td>
                                <td class="price text-right">@Html.Locale("cart_unitprice")</td>
                                <td class="total text-right">@Html.Locale("cart_total")</td>
                                <td class="total text-right">Tình trạng</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {

                                if (item.Article.Number >= item.Quantity || item.Article.Number == 0)
                                {
                                    <tr>
                                        <td class="image text-center">
                                            @Html.Image(item.Article.ImageUrl, new ImageOptions { Width = 50, Height = 50 }, new { alt = item.Article.ArticleName })
                                        </td>
                                        <td class="name" data-label="@Html.Locale("cart_product_name")">
                                            <a href="@Url.Action("Detail", "Article", new { id = item.Article.Id, code = item.Article.ArticleType.UrlFriendly, title = Unichar.UnicodeStrings.UrlString(item.Article.ArticleName) })" title="@item.Article.ArticleName" target="_blank">
                                                <span>
                                                    @item.Article.ArticleName
                                                </span>
                                            </a>
                                        </td>
                                        <td class="quantity" data-label="@Html.Locale("cart_qty")">
                                            @Html.TextBox("qty_" + item.Id.ToString(), item.Quantity, new { @class = "form-control input-qty", @size = "3", @type = "number", @min = "1" })
                                            <a href="@Url.Action("DeleteItem", "ShoppingCart", new { id = item.Article.Id })"><i class="fa fa-trash"></i></a>
                                        </td>

                                        <td class="price text-right" data-label="@Html.Locale("cart_unitprice")">@Html.Amount(item.UnitPrice)</td>
                                        <td class="total text-right" data-label="@Html.Locale("cart_total")">@Html.Amount(item.Amount)</td>
                                        @if (item.Article.Number == 0)
                                        {
                                            <td class="total text-right">Chờ @item.Article.Time</td>
                                        }
                                        else
                                        {
                                            <td class="total text-right">Có sẵn</td>
                                        }

                                    </tr>
                                }

                                else
                                {
                                    <tr>
                                        <td class="image text-center">
                                            @Html.Image(item.Article.ImageUrl, new ImageOptions { Width = 50, Height = 50 }, new { alt = item.Article.ArticleName })
                                        </td>
                                        <td class="name" data-label="@Html.Locale("cart_product_name")">
                                            <a href="@Url.Action("Detail", "Article", new { id = item.Article.Id, code = item.Article.ArticleType.UrlFriendly, title = Unichar.UnicodeStrings.UrlString(item.Article.ArticleName) })" title="@item.Article.ArticleName" target="_blank">
                                                <span>
                                                    @item.Article.ArticleName
                                                </span>
                                            </a>
                                        </td>
                                        <td class="quantity" data-label="@Html.Locale("cart_qty")">
                                            @Html.TextBox("qty_" + item.Id.ToString(), item.Article.Number, new { @class = "form-control input-qty", @size = "3", @type = "number", @min = "1" })
                                            <a href="@Url.Action("DeleteItem", "ShoppingCart", new { id = item.Article.Id })"><i class="fa fa-trash"></i></a>
                                        </td>

                                        <td class="price text-right" data-label="@Html.Locale("cart_unitprice")">@Html.Amount(item.UnitPrice)</td>
                                        <td class="total text-right" data-label="@Html.Locale("cart_total")">@Html.Amount(item.UnitPrice * (int)item.Article.Number)</td>
                                        <td class="total text-right">Có sẵn</td>
                                    </tr>
                                    <tr>
                                        <td class="image text-center">
                                            @Html.Image(item.Article.ImageUrl, new ImageOptions { Width = 50, Height = 50 }, new { alt = item.Article.ArticleName })
                                        </td>
                                        <td class="name" data-label="@Html.Locale("cart_product_name")">
                                            <a href="@Url.Action("Detail", "Article", new { id = item.Article.Id, code = item.Article.ArticleType.UrlFriendly, title = Unichar.UnicodeStrings.UrlString(item.Article.ArticleName) })" title="@item.Article.ArticleName" target="_blank">
                                                <span>
                                                    @item.Article.ArticleName
                                                </span>
                                            </a>
                                        </td>
                                        <td class="quantity" data-label="@Html.Locale("cart_qty")">
                                            @Html.TextBox("qtya_" + item.Id.ToString(), item.Quantity - item.Article.Number, new { @class = "form-control input-qty", @size = "3", @type = "number", @min = "1", @readonly = "true" })
                                        </td>

                                        <td class="price text-right" data-label="@Html.Locale("cart_unitprice")">@Html.Amount(item.UnitPrice)</td>
                                        <td class="total text-right" data-label="@Html.Locale("cart_total")">@Html.Amount((int)(item.Quantity - item.Article.Number) * item.UnitPrice)</td>
                                        <td class="total text-right">Chờ @item.Article.Time</td>
                                    </tr>
                                }

                                total = total + item.Amount;
                                qty += item.Quantity;
                            }
                        </tbody>
                        <tfoot>
                            @if (SiteConfig.SiteInfo.AmountShippingToFree > 0)
                            {
                                <tr>
                                    <td class="total" colspan="4">@Html.Locale("cart_total"):</td>
                                    <td class="text-right totals" data-label="@Html.Locale("cart_total")">@Html.Amount(total)</td>
                                </tr>
                                <tr>
                                    <td class="total" colspan="4">@Html.Locale("cart_shipping_amount"):</td>
                                    @if (total < SiteConfig.SiteInfo.AmountShippingToFree)
                                    {
                                        <td class="text-right" data-label="@Html.Locale("cart_shipping_amount")">@Html.Locale("cart_shipping_amount_2")</td>
                                    }
                                    else
                                    {
                                        <td class="text-right" data-label="@Html.Locale("cart_shipping_amount")">@Html.Locale("cart_shipping_amount_free")</td>
                                    }
                                </tr>
                            }
                            <tr>
                                <td class="total" colspan="5">@Html.Locale("cart_qty"):</td>
                                <td class="text-right" data-label="@Html.Locale("cart_qty")">@qty</td>
                            </tr>
                            <tr>
                                <td class="total" colspan="5">Tạm tính</td>
                                <td class="text-right totals" data-label="Tạm tính">@Html.Amount(total)</td>
                            </tr>
                            @*<tr>
                                    <td class="total" colspan="4">VAT (10%)</td>
                                    <td class="text-right totals" data-label="VAT (10%)">@Html.Amount(totalvat)</td>
                                </tr>
                                <tr>
                                    <td class="total" colspan="4">Tổng tiền</td>
                                    <td class="text-right totals totalend" data-label="Tổng tiền">@Html.Amount(total)</td>
                                </tr>*@
                        </tfoot>
                    </table>
                </div>
                <div class="clearfix"></div>

                <div class="bt-carts margin-bottom-20 text-right">
                    <a href="/" title="@Html.Locale("cart_continue")" class="btn btn-continue">@Html.Locale("cart_continue")</a>
                    <button class="btn btn-continue" type="submit">@Html.Locale("cart_update")</button>
                    <a href="@Url.Action("CheckOut", "ShoppingCart")" title="@Html.Locale("cart_checkout")" class="btn btn-continue">@Html.Locale("cart_checkout")</a>
                </div>

            }
        }
    </div>
}
@Scripts.Render("~/Scripts/vns.vcms.js")
<script type="text/javascript">
    $("#check-all").checkAll("input[type='checkbox']");
    $(".site-info #cart .content").remove();
</script>
