@using VCMS.MVC4.Web
@using VCMS.MVC4.Data
@model VCMS.MVC4.Data.Category
@{
    DataContext db = new DataContext();
    var carteType = (CategoryType)ViewBag.CategoryType;
    ViewBag.Title = carteType.Name;
    ViewBag.Breadcrumb = new BreadcrumbModel()
    {
        Items = new List<BreadcrumbItem>()
        {
            new BreadcrumbItem(){Url = Url.Action("Index","Home"), Text="Home", IsFirst=true},
            new BreadcrumbItem(){Url = Url.Action("ListByCateType","Category",new{id=carteType.Id}), Text = carteType.Name},
            new BreadcrumbItem(){Url = null, Text = "Thêm mới", IsLast = true},
        }
    };
    var discounts = db.Discounts.ToList();
    var currencies = db.Currencies.ToList();
}

<div class="form">
    @using (Html.BeginForm("CreateByCateType", "Category", new { id = carteType.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <label>Nhóm cha</label>
            @Html.Partial("_OptionList", (List<Category>)ViewBag.Categories)
        </div>
        <div id="tabs" class="margin-top-20">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                @foreach (var l in SiteConfig.Languages)
                {
                    <li><a href="#tabs-@l.Id" role="tab" data-toggle="tab">@l.DisplayName</a></li>
                }
            </ul>
            <div class="tab-content">
                @Html.EditorFor(model => model.CategoryDetail)
            </div>
            <script>
                $(".nav-tabs li:first").addClass("active");
                $(".tab-content .tab-pane:first").addClass("active");
            </script>
        </div>
        <div style="display: none">
            @if (carteType.Code.Equals("COLOR", StringComparison.OrdinalIgnoreCase))
            {
                <div class="editor-label">
                    @Html.Label("color_code")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Font)
                </div>
            }
            @if (Roles.IsUserInRole("Super Administrators") && !carteType.Code.Equals("COLOR", StringComparison.OrdinalIgnoreCase))
            {
                <div class="editor-label">
                    @Html.Label("font")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Font)
                </div>
            }
        </div>
        @*<div class="editor-label">
            @Html.Locale("shipped_price")
        </div>*@

        @*<div class="editor-field pri-and-curr  w-300">
            @Html.TextBoxFor(model => model.ShippedPrice, new { @class = "price" })
            @Html.DropDownList("Currency", new SelectList(currencies, "Id", "CurrencySymbol", currencies.FirstOrDefault(c => c.IsDefault).Id), new { @class = "currency" })
        </div>*@
        <div class="file">
            <label>Image</label>
            <input type="file" name="ImageUrl" /><i data-label="Chọn file"></i>
        </div>
        <div class="toolbar">
            <span class="button">
                <button type="submit" class="btn save"><i class="fa fa-save"></i> Lưu</button>
            </span>
            <span class="btn back">
                <a href="@Url.Action("ListByCateType", "Category", new { id = carteType.Id })">
                    <i class="fa fa-mail-reply"></i> <span>Trở về</span>
                </a>
            </span>
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @*@Scripts.Render("~/bundles/editor")*@
    <script>

        $(function () {
            $("input[data-auto-copy=true]").autoCopy();
            $(".url-source").each(function () {
                $(this).latinize({ destination: $(".url-dest", $(this).parent().parent()) });
            });
            $("#tabs").validtabs();
            $(".keyword").keyword();
        })

        function RemoveRougeChar(e) {
            if (e.substring(0, 1) == ",") {
                return e.substring(1, e.length)
            } return e
        }
        $(".price").keyup(function (e) {
            if (e.which >= 37 && e.which <= 40) {
                e.preventDefault()
            }
            var t = $(this);
            var n = t.val().replace(/,/gi, "").split("").reverse().join("");
            var r = RemoveRougeChar(n.replace(/(.{3})/g, "$1,").split("").reverse().join(""));
            t.val(r);
        })
    </script>
}
