@model ICollection<VCMS.MVC4.Data.Category>

@{
    var articleType = (ArticleType)ViewBag.ArticleType;
    ViewBag.Title = "Nhóm " + articleType.Name;
    ViewBag.Breadcrumb = new BreadcrumbModel()
    {
        Items = new List<BreadcrumbItem>()
        {
            new BreadcrumbItem(){Url = Url.Action("Index","Home"), Text="Home", IsFirst=true},
            new BreadcrumbItem(){Url = null, Text="Nhóm " + articleType.Name,IsLast=true},
        }
    };
}

<div class="btn-group">
    <span class="btn create">
        <a href="@Url.Action("Create", new { id = ViewContext.RouteData.Values["id"] })">
            <i class="fa fa-plus"></i> <span class="hidden-xs">Thêm mới</span>
        </a>
    </span>
    <span class="btn delete">
        <a href="@Url.Action("Delete", null, null)" id="delete">
            <i class="fa fa-trash-o"></i> <span class="hidden-xs">Xóa</span>
        </a>
    </span>
    @*<span class="btn attribute hidden-xs">
            <a href="@Url.Action("Update",null,null)" id="update">
                <i class="fa fa-sort-numeric-desc"></i> <span class="hidden-xs">Cập nhật thứ tự</span>
            </a>
        </span>*@
    <div class="btn-group btn type">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Thao tác
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu fa-ul">
            <li>
                <a href="@Url.Action("Update",null,null)" id="update">
                    <i class="fa fa-sort-numeric-desc"></i> <span class="hidden-xs">Cập nhật thứ tự</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" id="update-attribute">
                    <i class="fa fa-puzzle-piece"></i>
                    <span class="hidden-xs">Cập nhật thuộc tính</span>
                </a>
            </li>
        </ul>
    </div>

</div>
<table class="table table-hover">
    <thead class="header">
        <tr>
            <th class="check">
                <label class="checkbox single noborder">
                    <input type="checkbox" id="check-all" /><i></i>
                </label>
            </th>
            <th class="name">
                @Html.Label("Tên")
            </th>
            <th class="img hidden-xs hidden-sm">
                @Html.Label("Hình")
            </th>
            @if (articleType.IsNewCate)
            {
                <th class="attr nowarp">
                    @Html.Label(!string.IsNullOrWhiteSpace(articleType.StrIsNewCate) ? articleType.StrIsNewCate : "Mới")
                </th>
            }
            @if (articleType.IsHotCate)
            {
                <th class="attr nowarp">
                    @Html.Label(!string.IsNullOrWhiteSpace(articleType.StrIsHotCate) ? articleType.StrIsHotCate : "Nổi bật")
                </th>
            }
            @if (articleType.IsMostViewCate)
            {
                <th class="attr nowarp">
                    @Html.Label(!string.IsNullOrWhiteSpace(articleType.StrIsMostViewCate) ? articleType.StrIsMostViewCate : "Xem nhiều")
                </th>
            }
            <th class="date hidden-xs">
                @Html.Label("Ngày tạo")
            </th>
            <th class="sort">
                @Html.Label("Thứ tự")
            </th>
            <th class="action">@Html.Label("Thao tác")</th>
        </tr>
    </thead>
    <tbody class="items">
        @foreach (var item in Model)
        {
            @Html.Partial("_ListItem", item)
        }
    </tbody>
</table>
@section Scripts
{
    <script>
        function showNextLevel(el, visible) {
            var level = parseInt($(".level", el).attr('level'));
            var next = el.next(".item");
            while (next != undefined) {
                var nextlevel = parseInt($(".level", next).attr('level'));
                if (nextlevel > level) {
                    if (visible && nextlevel == level + 1)
                        next.show();
                    else if (!visible) {
                        next.hide();
                        $("a.collapse", next).removeClass("collapse").addClass("expand");
                    }
                }
                else
                    break;
                next = next.next(".item");
            }
        }

        $(function () {

            $(".level a").click(function () {
                var parent = $(this).parentsUntil(".items").last();

                if ($(this).hasClass('collapse')) {
                    $(this).removeClass("collapse").addClass("expand");
                    showNextLevel(parent, false);
                }
                else {
                    $(this).removeClass("expand").addClass("collapse");
                    showNextLevel(parent, true);
                }
                return false;
            });

            $("#check-all").checkAll(".item .check input[type='checkbox']");
            $("#delete").sdelete({
                url: '@Url.Action("Delete")',
                selector: ".item .check input[type='checkbox']",
                param: 'idList'
            });

            $("#update").update({
                url: '@Url.Action("UpdateOrder")',
                selector: ".item input[name='sort']",
            });
        });
        function loaded(data, status, xhr) {
            var url = $(this).attr('url');
            var m = /Children\/(\d+)/.exec(url);
            var sender = "#update" + m[1];
            var parent = $(sender).parentsUntil("div.items").last();
            $(data).insertAfter(parent);
            $(".img a").imgPreview();

        }

        //$(function () {
        //    $("input.check").live("change", function () {
        //        if ($(this).is(":checked"))
        //            $(this).parentsUntil(".items").last().addClass("selected");
        //        else
        //            $(this).parentsUntil(".items").last().removeClass("selected");
        //    })
        //    //$("div.img a").imgPreview({ imgCSS: { width: 400 } }); $("div.img a").live('click', function () { return false;});
        //})

        $(".is-active,.is-new,.is-hot,.is-mostview").change(function () {
            $(this).parentsUntil(".items").find(".check input[type='checkbox']").addClass("changed");
        });

        $("#update-attribute").click(function () {
            var json = [];
            $(".item .check input[type='checkbox'].changed").each(
                function () {
                    var isActive = $(this).parentsUntil(".items").find(".is-active:checked").length > 0;
                    var isNew = $(this).parentsUntil(".items").find(".is-new:checked").length > 0;
                    var isHot = $(this).parentsUntil(".items").find(".is-hot:checked").length > 0;
                    var isMostview = $(this).parentsUntil(".items").find(".is-mostview:checked").length > 0;
                    json.push({ "id": $(this).val(), "isActive": isActive, "isNew": isNew, "isHot": isHot, "isMostview": isMostview });
                });

            if (json.length > 0) {
                $.ajax({
                    url: '@Url.Action("UpdateAttributes")',
                    type: 'POST',

                    success: function (data) {
                        if (data.Status == 0) {
                            alert(data.Message);
                            window.location.reload();
                        }
                    },
                    data: "json=" + JSON.stringify(json)
                });
            }
        });
    </script>

}