@using VCMS.MVC4.Web
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @SiteConfig.SiteInfo.WebsiteDetail[SiteConfig.LanguageId].Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="canonical" href="@HttpContext.Current.Request.Url.AbsoluteUri">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />

    @Styles.Render("~/template/" + SiteConfig.SiteCode)
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scrollable")
    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/Fixie")
         <![endif]-->
</head>
<body id="offcanvas-container" class="offcanvas-container layout-fullwidth fs12 page-home language-@SiteConfig.LanguageId insite">
    <section id="page" class="offcanvas-pusher" role="main">
        
        @Html.Partial("Header")
        <section id="main-menu">
            <div class="container">
                <div id="position-top">
                    @Html.Partial("_MenuTop")
                </div>
                @Html.Partial("_ShowMobile")
            </div>
        </section>
        <section id="title">
            <div class="container">
                @Html.Breadcrumb()
                <h1 class="title pull-left">
                    <span>@ViewBag.Title</span>
                </h1>
            </div>
        </section>
        <section id="columns" class="offcanvas-siderbars columns-insite">
            @RenderBody()
        </section>
        <section id="box-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        @Html.Partial("_FBrand")
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @Html.Partial("_FSupport")
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @Html.Partial("_FAdv")
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        @Html.Partial("_FSupplier")
                    </div>
                </div>
            </div>
        </section>
        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 visible-lg visible-md">@Html.Partial("_FFacebook")</div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">@Html.Partial("_FAddress")</div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 visible-lg visible-md">@Html.Partial("_FInfo")</div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 visible-lg visible-md">@Html.Partial("_FExchange")</div>
                </div>
            </div>
        </section>
        <section id="footer">
            <div class="container">
                @Html.Partial("_FOnline")
                <div class="copy-right pull-left">
                    <span>Copyright © 2015</span> <a class="mydomain" href="http://vatlieunhakhoahanoi.com"> vatlieunhakhoahanoi.com</a> <span> | </span> <a class="designedby" href="http://viennam.com">DESIGNED BY VIỄN NAM</a>
                </div>
            </div>
        </section>
        <section id="sys-notification" class="sys-notification">
            <div id="notification">
            </div>
        </section>
        
    </section>
    @RenderSection("scripts", required: false)
    @Html.Raw(SiteConfig.SitePlugin("GOANA"))
    @Html.Raw(SiteConfig.SitePlugin("CHATONLINE"))
</body>
</html>
