@model Widget
@{
    var article = Article.GetByType((int)Model.ArticleTypeId, SiteConfig.LanguageId, Model.Attribute, 1, Model.Number, Model.SortOrder, Model.SortDirection);
    var effect = Model.Effect1 ? "banner-cubic-1" : Model.Effect2 ? "banner-cubic-2" : Model.Effect3 ? "banner-cubic-3" : Model.Effect4 ? "banner-cubic-4" : Model.Effect5 ? "banner-cubic-5" : Model.Effect6 ? "banner-cubic-6" : Model.Effect7 ? "banner-cubic-7" : "";
}
@if (article.List.Count > 0)
{
    <div class="box-sidebar box-hot-news">
        <h2 class="heading">
            @Model.Title      
        </h2>
        <div class="content">
            @foreach (var item in article.List)
            {
                <article class="box-block items">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            @if (!Model.HiddenImage)
                            {
                                <figure>
                                    <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName" class="banner-cubic-7">
                                        @*<img src="css/images/news-1.jpg" />*@
                                        @Html.Image(item.ImageUrl, new ImageOptions { Height = 85, Watermark = SiteConfig.WatermarkFill }, new { alt = item.ArticleName })
                                    </a>
                                </figure>
                            }
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="meta">
                                <h3>
                                    <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName">
                                        @item.ArticleName
                                    </a>
                                </h3>
                                @if (Model.ShowDate)
                                {
                                    <span class="date"><i class="fa fa-calendar"></i> @item.Day</span>
                                }
                                @if (Model.ShowDescription)
                                {
                                    <span class="description">
                                        @Html.Raw(VNS.Web.Helpers.HTMLHelper.ReadBlock(item.ShortDescription, Model.NumberText))
                                    </span>
                                }
                                @if (Model.ShowViewMore)
                                {
                                    <div class="action">
                                        <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName">
                                            @*<i class="fa fa-ioxhost"></i>*@
                                            @Html.Locale("view_detail")
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
}