@{
    ViewBag.Title = "ReturnFromGoogle2";
}
<h2>
    Your Google information
</h2>
GoogleID: @ViewBag.SocialNetworkId
<br />
FirstName: @ViewBag.FirstName
<br />
LastName: @ViewBag.LastName
<br />
Email: @ViewBag.Email
<br />
ProfilePicture:
<img src="@ViewBag.ProfilePicURL" />
