@model Widget
@{
    var article = Article.GetByType((int)Model.ArticleTypeId, SiteConfig.LanguageId, Model.Attribute, 1, Model.Number, Model.SortOrder, Model.SortDirection);
    var effect = Model.Effect1 ? "banner-cubic-1" : Model.Effect2 ? "banner-cubic-2" : Model.Effect3 ? "banner-cubic-3" : Model.Effect4 ? "banner-cubic-4" : Model.Effect5 ? "banner-cubic-5" : Model.Effect6 ? "banner-cubic-6" : Model.Effect7 ? "banner-cubic-7" : "";
}
@*@if (article.List.Count > 0)
    {
        <div class="box-footer footer-services pull-left">
            <h2 class="heading footer-heading">@Model.Title</h2>
            <ul class="ul-services">
                @foreach (var item in article.List)
                {
                    <li><a href="@Url.Action("Detail", "Article", new { id=item.Id,code=item.ArticleType.UrlFriendly,title=Unichar.UnicodeStrings.UrlString(item.ArticleName)})" title="@item.ArticleName">@item.ArticleName</a></li>
                }
            </ul>
        </div>
    }*@
@if (article.List.Count > 0)
{
    <div class="home-news-grid box-home-2">
        <h2 class="heading">
            <a href="/tin-tuc.html">
                <span>@Model.Title</span>
            </a>    
        </h2>
        <div class="content">
            <div class="row">
                @foreach (var item in article.List)
                {
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="items">      
                            @if (!Model.HiddenImage)
                            {     
                                <figure>
                                    <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName" class="banner-cubic-7">
                                        @Html.Image(item.ImageUrl, new ImageOptions { Width = 270, Height = 250, Watermark = SiteConfig.WatermarkFill, Mode = ImageMode.crop }, new { alt = item.ArticleName })
                                    </a>
                                    @*<div class="date-item">
                                            <span class="date">@item.DateCreated.ToString("dd")</span>
                                            <span class="month">@item.DateCreated.ToString("MM")</span>
                                        </div>*@
                                </figure>     
                            }  
                            <div class="meta">
                                <h3>
                                    <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName">
                                        @item.ArticleName
                                    </a>
                                </h3>
                                <span class="date">@item.Day</span>
                                <div class="description">
                                    @Html.Raw(VNS.Web.Helpers.HTMLHelper.ReadBlock(item.ShortDescription, Model.NumberText))
                                </div>
                                @*<div class="detail">
                                        <a href="@Url.Action("Detail", "Article", new { id = item.Id, code = item.ArticleType.UrlFriendly, title = item.UrlFriendly })" title="@item.ArticleName">
                                            @Html.Locale("view_detail")
                                        </a>
                                    </div>*@
                            </div>      
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}